<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UFT-8"%>" 
<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/login.css">
        <title>로그인 페이지</title>
    </head>
    <body>
        <article id="loginArticle">
            <form id="loginForm" action="/login" method="post">
                <h1 class="moveHome"><a href="#">Miggu Large 대학교</a></h1>
                <input type="text" name="id" placeholder="아이디" maxlength="9" numberOnly>
                <span id="warningSerialNumber">학번을 입력해주세요</span>
                <input type="password" name="password" placeholder="비밀번호" maxlength="12">
                <span id="warningPassword">비밀번호를 입력해주세요</span>
                <button type="button" name="loginButton" id="loginButton">로그인</button>
                <a href="#" id="openFindSerialNumberPage">학번 찾기</a>
                <a href="#" id="openFindPasswordPage">비밀번호 찾기</a>
            </form>
        </article>
        <script src="../../jquery/jquery-3.3.1.min.js"></script>
        <script src="../js/login.js"></script>
    </body>
</html>
